<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
</head>
<body>
  <header>
    <h1>{{ .Title }}</h1>
    <p>{{ .Page.Params.Subtitle }}</p>
  </header>
  {{ block "main" . }}{{ end }}
  <footer>
    <p><i>Crie a Porra de um Blog</i> é uma adaptação de <a href="https://startafuckingblog.com/">Start a Fucking Blog</a> por <a href="https://www.gmgall.net/">Guilherme Magalhães Gall</a>.</p>
  </footer>
</body>
</html>
